.finishSwipeButtonContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #A9A9A9;
}

.finishSwipeButton {
  display: flex;
  justify-content: center;
  bottom: 50%;
  left: 42%;
  position: absolute;
}

.next20Button {
  display: block;
  justify-content: center;
  bottom: 30%;
  left: 13%;
  position: absolute;
}

.finishButtonContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #A9A9A9;
}