@import '../../../styles/variables.scss';

.queryParams {
  height: 60vh;
  background-color: $background;
}

.queryParamsMobile {
  height: 100%;
  background-color: $background;
}

.queryParamsTitle {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}