.restaurantCard {
  height: 200px !important;
  width: 200px !important;
  border-color: black;
  background-color: #CAEBF2 !important;
}

.actualCard {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.root {
  max-width: 345px;
}

.media {
  height: 140px;
}

.insideCard {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}