@import '../../../styles/variables';

.userStatusChipContainer {
  width: 500px;
  margin-top: 2em;
}

.userStatusSection {
  display: flex;
  justify-content: center;
}

.sessionInformationSection {
  display: flex;
  justify-content: center;
}

.sessionInformationContainer {
  width: 800px;
  background-color: $dullAqua;
}

.sessionDetails {
  height: 100%;
  background-color: $background;
}

.sessionDetailsBackButton {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: $background;
}