@import '../../../styles/variables.scss';

.locationParam {
  height: 60vh;
}

.locationParamTitle {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.locationField {
  width: 30em;
}

.locationFieldContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.dividerLocation {
  width: 50%;
}

.dividerLocationContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.ant-input-affix-wrapper {
  background: $dullAqua;
  color: black;
}

.ant-input-affix-wrapper > input.ant-input {
  background: $dullAqua;
}

.mappingComponent {
  display: flex;
  justify-content: center;
}