@import '../../../styles/variables';

.searchFriendsTitle {
  display: flex;
  justify-content: center;
}

.searchFriends {
  width: 300px;
}

.radioParameterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.usersListContainer {
  display: flex;
  justify-content: center;
}

.bottomSectionContainer {
  display: block;
}

.usersList {
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  margin: 2em;
  background-color: $dullAqua
}

.usersIFollowTitle {
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: inline-flex;
  justify-content: center !important;
}

.upperSectionContainer {
  display: block !important;
}

.searchInputContainer {
  display: flex;
  justify-content: center;
}

.overallContainer {
  display: inline-flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.overallSectionContainer {
  display: inline-flex;
  justify-content: center !important;
  flex-wrap: wrap;
}