@import '../../../styles/variables';

.searchFriendsTitle {
  display: flex;
  justify-content: center;
}

.searchFriends {
  width: 300px;
}

.radioParameterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.usersListContainer {
  display: flex;
  justify-content: center;
}

.bottomSectionContainer {
  display: block;
}

.usersList {
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  margin: 2em;
  background-color: $dullAqua
}

.usersIFollowTitle {
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3em;
}

.mobileSearchContainer {
  display: block;
  justify-content: center !important;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: $background;
  margin-top: 3em;
  margin-bottom: 5em;
}

.upperSectionContainer {
  display: block !important;
}

.searchInputContainer {
  display: flex;
  justify-content: center;
}

.overallContainer {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: $background;
}

.overallMobileContainer {
  display: block;
  justify-content: center !important;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: $background;
}

.overallMobileSectionContainer {
  display: block;
  justify-content: center !important;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3em;
  background-color: $background;
}

.overallSectionContainer {
  display: flex;
  justify-content: center !important;
  width: 100%;
}