@import '../../../styles/variables';

.statusUserChip {
  width: 50%;
}

.userChips {
  width: 20%;
  margin-left: 2em;
}

.descriptionSection {
  display: flex !important;
  justify-content: center;
  margin-top: 5em;
}

.pastSessionDetailsContainer {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.pastSessionMobileDetailsContainer {
  display: block;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.pastSessionRestaurantDetails {
  display: block !important;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  margin-top: 1em;
  height: 100%;
  background-color: $background;
}

.pastSessionMobileRestaurantDetails {
  background-color: $background !important;
  margin-bottom: 2em;
}

.pastSessionMobileDetailsContainer {
  display: block !important;
  height: 100% !important;
  background-color: $background !important;
}

.site-result-demo-error-icon {
  color: red;
  margin-left: 1em;
  margin-right: 1em;
}

.actualHoursSection {
  display: flex;
  justify-content: center;
}

.winningPhoto {
  height: 230px;
  width: 300px;
}

.winningPhotoCard {
  height: 230px;
  width: 300px;
  margin-bottom: 2em;
}

.completeSessionDetails {
  justify-content: center;
  height: 100%;
  background-color: $background;
}

.hoursOpenCard {
  width: 10em;
}

.hoursOpenDetails {
  background-color: $background;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.hoursOpenTitle {
  margin-bottom: 3em;
  background-color: $background;
}

.topSectionTitle {
  display: block !important;
  justify-content: center !important;
}

.topSectionActualTitle {
  display: flex !important;
  justify-content: center !important;
}

.topSectionTitleName {
  display: flex !important;
  justify-content: center !important;
}

.actualTitle {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.winningPhotoCard {
  justify-content: center;
}

.winningPhotoContainer {
  display: flex;
  justify-content: center;
}