// .completeSessionDetails {

// }

.statusUserChip {
  width: 50%;
}

.userChips {
  width: 20%;
  margin-left: 2em;
}

.descriptionSection {
  display: flex !important;
  justify-content: center;
  margin-top: 5em;
}

.pastSessionDetailsContainer {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.pastSessionRestaurantDetails {
  display: block !important;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  margin-top: 1em;
}

.site-result-demo-error-icon {
  color: red;
  margin-left: 1em;
  margin-right: 1em;
}

// .hoursOpenDetails {
//   display: flex;
//   justify-content: center;
// }

.actualHoursSection {
  display: flex;
  justify-content: center;
}

.winningPhoto {
  height: 230px;
  width: 300px;
}

.winningPhotoCard {
  height: 230px;
  width: 300px;
  margin-bottom: 2em;
}

.completeSessionDetails {
  height: 100vh;
}

.hoursOpenCard {
  width: 10em;
}

.hoursOpenDetails {
  margin-top: 1em;
}

.hoursOpenTitle {
  margin-bottom: 3em;
}

.topSectionTitle {
  display: flex !important;
  justify-content: center;
}