.addFriendsParam {
  height: 60vh;
}

.addFriendsParamTitle {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.userButtonContainer {
  display: flex;
  justify-content: center;
}

.selectBar {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.selectTitle {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}