.drawerButton {
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.avatarButton {
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.ant-menu{
  background: transparent;
}